:root {
  --black : #1A1918;
  --orange : rgb(254,158,48);
  --blue : rgb(6,186,205);
  --ltgrey : #F1E8DE;

background-color: var(--ltgrey);
}

body, html {
  background-color: #161616;
}

/*--
Nav Styles--*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  padding: 1em;
}

nav a:link, nav a:visited {
  color: var(--orange);
  text-decoration: none;
  transition: all .3s ease-in-out;
}
nav a:hover, nav a:active  {
  color: var(--blue);
  text-decoration: none;
}


@media screen and (min-width: 768px) {
  nav {flex-direction: row;}
}

.trigram {
  font-size: 1.75em;
  display: none;
}
@media screen and (max-width: 767px) {
  .topnav a {display: none;}
  .topnav a.trigram {display: inherit; align-self: flex-end;}
}
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a {display:inherit;}
  .topnav.responsive a.trigram {visibility: hidden; position: absolute; right: 3%; top: 2%;}
  .topnav.responsive a.trigram::after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}

svg {
  display:block;
  margin: auto;
}

path {
  fill:none;
  stroke: white;
  stroke-width:15px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity:1
}

.Joe {
  stroke-dasharray: 1500;
  animation: write1 1.5s ease-out;
}

.Lucas {
  stroke-dasharray: 1825;
  animation: write2 1.5s ease-in;
}

/*  keyframes */
@keyframes write1 {
    0% {
        stroke-dashoffset: 1500;
    }
    40% {
        stroke-dashoffset: 0;
    }
}

@keyframes write2 {
    0%, 40% {
        stroke-dashoffset: 1825;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(23, 22, 22);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.5s linear;
}

.preloader.loaded{
  opacity: 0;
  pointer-events: none;
}

/*-- About Styles --*/




h1, h2, h3, nav {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
}

p, ul {
  font-family: 'Open Sans', sans-serif;
}

nav, footer {
  background-color: var(--black);
  color: var(--ltgrey);
}

footer {
  text-align: center;
  padding: 1em;
  min-width: 100%;
  bottom: 0;
}


/*--
Grid Styles--*/
main {
  padding: 0 2em 2em 2em;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
            "one three"
            "image1 blog1"
            "image2 blog2"
            "image3 blog3";
}

header {grid-area: head;
text-align: center;}
header img {max-width: 100%;
  height: 450px;
  width: 100%;
  object-fit: none;
  object-position: center;
}

.blog1, .blog2, #image1, #image2 {
  border-bottom-style: solid;
  border-width: medium;
  border-color: var(--blue)
}

.one {grid-area: one;
text-align: center;
padding-top: 2em;}
.three {grid-area: three;
text-align: center;
padding-top: 2em;}
.overview {grid-area: over;
text-align: center;
border-style: solid;
border-width: medium;}
#image1 {grid-area: image1;}
#image2 {grid-area: image2;}
#image3 {grid-area: image3;}
.blog1 {grid-area: blog1;}
.blog2 {grid-area: blog2;}
.blog3 {grid-area: blog3;}

p {
  text-align: left;
}

footer p {
  text-align: center;
}

.profilepic {
  border-radius: 300px;
}

.static {
  position:absolute;
  object-fit: contain;
}

.static:hover {
  opacity:0;
}

@media screen and (max-width: 767px) {
  main { grid-template-columns: 1fr;
         grid-template-areas:
            "head"
            "image1"
            "blog1"
            "image2"
            "blog2"
            "image3"
            "blog3";
  }
  .one, .two, .three {display: none;}
}

  #image1, #image2 {
    border-style: none;
  }
